<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0", charset="utf-8">
    <title>Gonz - @ViewBag.Title</title>
    <link href="~/Content/bootstrap.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("GonZ Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                
                <form class="d-flex" role="search" method="get" action="/search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                <ul class="navbar-nav">
                    <li>@Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">

        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="bg-dark text-light py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h5>GonZ Store</h5>
                    </div>

                    <div class="col-md-4">
                        <h5>Quick Links</h5>
                        <ul class="list-unstyled">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h5>Follow Us</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-light"><i class="fab fa-facebook"></i> Facebook</a></li>
                            <li><a href="#" class="text-light"><i class="fab fa-instagram"></i> Instagram</a></li>
                            <li><a href="#" class="text-light"><i class="fab fa-twitter"></i> Twitter</a></li>
                            <li><a href="#" class="text-light"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                        </ul>
                    </div>
                </div>

                <hr class="bg-light">

                <div class="row">
                    <div class="col text-center">
                        <p>&copy; @DateTime.Now.Year - GonZ Store.</p>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
